.table-wrapper {
  position: relative;
}

.search-wrapper {
  margin-bottom: 1rem;
}

.table-wrapper {
  transition: opacity 0.3s ease-in-out;
  &.loading-active {
    opacity: 0.5;
    pointer-events: none;
  }
}
