.actions {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.container {
  display: flex;
  gap: 1rem;

  > * {
    flex-grow: 1;
    width: 50%;
  }

  .image-container {
    background: lightblue;
    img {
      max-width: 100%;
      max-height: 100%;
      margin: 0;
      display: block;
    }
  }
}
